$blue: #0d1b2a

*
    font-family: "Poppins", sans-serif
    font-family: "Inter", sans-serif

.web-btn
    background: $blue
    color: #fff
    &:hover
        background: #000
        color: #fff

