@import 'global'

.form-main
    background: linear-gradient(119deg, rgb(249 246 246 / 50%) 7%, rgb(198 255 250 / 50%) 50%, rgb(253 253 253) 89%)
    background: #f9f6f6
    .auth-box
        background: #fff
        padding: 30px
        border-radius: 30px
        box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 24%)
        min-width: 400px
        label
            font-size: 15px
        input
            border: 1px solid #0005
        h2
            font-size: 34px
            text-transform: capitalize
        span
            font-size: 13px !important
